
.catalog_items{
    display: flex;
    margin-top: 175px;
    justify-content: space-between
}
.catalog_item2{
    background-image: url('../../media/catalog/collectoin.svg');
}
.catalog_title > h2{
    font-size: 30px;
    font-weight: 600;
    text-align: center;
}
.line_catalog{
    width: 41px;
    height: 3px;
    background: rgba(249, 200, 89, 1);
    margin: 0 auto;
}
.catalog{
    margin-top: 127px;
}