.navbar{
    height: 187px;
    display: flex;
    align-items: center;
}
.navbar_top_logo {
    display: flex;
    margin: 0 auto;
}
.navbar_top{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_top_us{
    width: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar_b_ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar_bottom{
    padding-top: 37px;
}
.navbar_b_li > a{
    text-transform: uppercase;
    color:  rgba(17, 17, 17, 1);    
    font-size: 13px;
    font-weight: 600;
    line-height: 16px;
}